<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean name="p1" class="com.lara.Person">
        <property name="firstName" value="shahzad"/>
        <property name="age" ref="23"/>
    </bean>
    <bean name="s1" class="com.lara.Student">
        <property name="firstName" value="shahzad"/>
        <property name="lastName" value="hussain"/>
    </bean>
    
    <bean name="e1" class="com.lara.Employee">
        <constructor-arg index = "0" value = "abc"/>
        <constructor-arg index = "1" value = "xyz"/>
    </bean>
</beans>
